<header class="container-fluid bg-primary">
  <div class="row">
      <nav class="col-10 bg-secondary bg-gradient offset-1"></nav>
  </div>
</header>
<section class="container-fluid bg-success">
<div class="row justify-content-around p-4">
<div class="col-5 elemento bg-info"></div>
<div class="col-5 elemento bg-info"></div>
</div>
</section>

<section class="container-fluid bg-danger">
<div class="row justify-content-around p-4">
<div class="col-3 elemento bg-warning"></div>
<div class="col-3 elemento bg-warning"></div>
<div class="col-3 elemento bg-warning"></div>  
</div>
</section>

<footer class="container-fluid elemento bg-warning"></footer>